/* styles for my resume */
<style type="text/css">
/*css code*/
.stupid {
  color: pink;
}

.subnav-hero-section {
    text-align: center;
    background: rgba(248,0, 141, 0.7);
    background-size: cover;
    position: relative;
    overflow: visible;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 300px;
}

header {
    display: block;
}
body {
    margin: 0;
    padding: 0;
    background: #fefefe;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: normal;
    line-height: 1.5;
    color: #0a0a0a;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 100%;
}
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}
*, *::before, *::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
*, *::before, *::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}


 .sectionheader {
   color: #E683BD;
   font-size: 1.5em;
   text-transform: uppercase;
   font-weight: 400;
   margin-top: 10px;
   margin-bottom: 20px;
   margin-left: 0px;
   margin-right: 0px;
   width: 70%;
   min-width: 300px;
 }


.jobtitle {
  font-weight: 600;
  font-size: 1.5em;
}

.organization {
  font-weight: 400;
  font-size: 1.5em;
}

.date {
  font-size: 1em;
  font-style: italic;
  font-weight: 400;
  margin-top: 3px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.li {
  font-size: 1em;
}

.description {
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.menu {
  display: flow-root;
  text-align:center;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.sectionheader {
  text-align: center;
  text-transform: uppercase;
  color: #E683BD;
  font-size: 1.5em;
}

#degrees {
  margin-top: 5px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  color: white;
  font-size: 1.5em;
  text-transform: uppercase;
  background-color: #33485e;
  font-weight: 400;
}

#do {
  margin-top: 5px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  color: white;
  font-size: 1.5em;
  text-transform: uppercase;
  background-color: #33485e;
  font-weight: 400;
}

#myname {
  font-size: 3.5em;
  color: #33485e;
  font-weight: 400;
  border-top: 0px;
  border-left: 0px;
  border-left: 0px;
  border-bottom: 2px;
  border-color: #33485e;
  border-width: 300px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
}

#about {
  font-size: 1em;
  color: black;
  font-weight:200;
  text-align: left;
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}

#container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 30px;
}

  </style>
