/* styles for my resume */
<style type="text/css">
/*css code*/

html, body, {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    height: 100%;
    width: 100%;
    margin-right: 0;
    padding-right: 0;
}

.topper {
  top:0;
  bottom:0;
  left:0;
  right:0;
  height: 100%;
  width: 100%;
  margin-right: 0;
  padding-right: 0;
}

.nav {
    text-align: center;
    background: #E683BD;
    background-size: cover;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    height: 150px;
}


 .sectionheader {
   color: #E683BD;
   font-size: 1.5em;
   text-transform: uppercase;
   font-weight: bold;
   margin-top: 10px;
   margin-bottom: 20px;
   margin-left: 210px;
   margin-right: 30px;
   width: 70%;
   min-width: 300px;
   text-align: center;
 }

 #experience {
   text-align: center;
 }


.jobtitle {
  font-weight: 600;
  font-size: 1.5em;
}

.organization {
  font-weight: 400;
  font-size: 1.5em;
}

.date {
  font-size: 1em;
  font-style: italic;
  font-weight: 400;
  margin-top: 3px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.li {
  font-size: 1em;
}

.description {
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.menu {
  text-align: center;
  background: #E683BD;
  background-size: cover;
  position: relative;
  overflow: visible;
  color: white;
  text-transform: uppercase;
  font-size: 1.5em;;
  height: 100px;
}

.sectionheader {
  text-align: center;
  text-transform: uppercase;
  color: #E683BD;
  font-size: 1.5em;
}

#degrees {
  margin-top: 5px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  color: white;
  font-size: 1.5em;
  text-transform: uppercase;
  background-color: #33485e;
  font-weight: 400;
}

#do {
  margin-top: 5px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  color: white;
  font-size: 1.5em;
  text-transform: uppercase;
  background-color: #33485e;
  font-weight: 400;
}

#myname {
  font-size: 3.5em;
  color: #33485e;
  font-weight: 400;
  border-top: 0px;
  border-left: 0px;
  border-left: 0px;
  border-bottom: 2px;
  border-color: #33485e;
  border-width: 300px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
}

#about {
  font-size: 1em;
  color: black;
  font-weight:200;
  text-align: left;
  width: 1300px;
  border: 15px #E683BD;
  padding: 20px;
  margin: 10px;
}

#experience {
  font-size: 1em;
  color: black;
  font-weight:200;
  text-align: left;
  width: 1300px;
  border: 15px #E683BD;
  padding: 20px;
  margin: 10px;
}

#education {

}

#skills {

}

#container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 30px;
}

ul.nav {
  padding-left: 0px;
  background-color: #E683BD;
  text-align: center;
  font-size: 1.5em;
  text-transform: uppercase;
}
ul.nav > li {
  display: inline-block;
  padding: 10px 20px;
}
ul.nav > li:hover {
  background-color: #E683BD;
}
ul.nav > li > a {
  color: white;
  text-decoration: none;
}

.clip1 .right img {
  display: block;
  width: 300px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.clip2 .right img {
  display: block;
  width: 300px;
  height: 200px;
  margin-left: 1000px;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.clip3 .right img {
  display: block;
  width: 300px;
  height: 200px;
  margin-left: 1000px;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.clip4 .right img {
  display: block;
  width: 300px;
  height: 200px;
  margin-left: 1000px;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.clip5 .right img {
  display: block;
  width: 300px;
  height: 200px;
  margin-left: 1000px;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.clip6 .right img {
  display: block;
  width: 300px;
  height: 200px;
  margin-left: 1000px;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.clip7 .right img {
  display: block;
  width: 300px;
  height: 200px;
  margin-left: 1000px;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

  </style>
