
.
.btn {
  margin-top: 25px;
  font-family: 'Special Elite', cursive;
  text-align: center;
}

.btn1{
}

.container {
  text-align: center;
  font-family: 'Special Elite', cursive;
  margin: 0 auto;
}

.col-md-6 {
font-family: 'Special Elite', cursive;
}

.col-md-4{
  font-size: 3em;
}

.navbar-brand {
font-family: 'Special Elite', cursive;
}

.navbar-toggler {
  font-family: 'Special Elite', cursive;
}

#navbarSupportContent {
  font-family: 'Special Elite', cursive;
}

.nav-link-active {
  font-family: 'Special Elite', cursive;
}

.nav-link {
  font-family: 'Special Elite', cursive;
}

h2 {
    font-family: 'Special Elite', cursive;
    text-align: center;
}

h3 {
}

h4 {
    font-family: 'Special Elite', cursive;
}

p {
  font-family: 'Special Elite', cursive;
  text-align: center;
}

img {
  width: 100%;
  max-width: 500px;
}

svg {
  width:16;
  height:16;
  fill:currentColor;
  font-size: 3em;
  align-content: center;
}

path {
  font-size: 3em;
}

.icon {
  font-size: 3em;
  font-family: 'Special Elite', cursive;
}

.bi {
  font-size: 3em;
  font-family: 'Special Elite', cursive;
}

.row {
  padding-bottom: 50px;
  align-content: center;

}

path {
  width:16;
   height:16;
    fill:currentColor;
    font-size: 3em;
    font-family: 'Special Elite', cursive;
    align-content: center;
}


@media only screen and (max-width: 500px) {
h2 {
padding-top: 50px;
}

.btn {
  background-color: teal !important;
}

</style>
