#content {
  margin: 0 auto;
  width: 900px;
}

h1 {
  text-align: center;
  font-weight: bold;
}

.byline {
  font-size: 3em;
  font-style: italic;
  text-align: left;
  font-weight: bold;
}

blockquote {
  font-size: 6em;
  font-style: italic;
  color: red;
}
