#content {
  margin: 0 auto;
  width: 900px;
}

h1 {
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
  font-family: Helvetica, sans-serif;
}

#byline {
  text-align: left;
  font-style: italic;
  font-size: 14px;
  font-family: Helvetica, Sans-Serif;
}

p {
  font-size: 13px;
  font-family: Georgia, Times, "Times New Roman", serif;
}

blockquote {
  font-size: 6em;
  font-style: italic;
  color: red;
}
