h1 {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  font-family: 'Noto Serif Display', serif;
}

 #byline {
  font-size: 1.25em;
  font-weight: italic;
  text-align: center;
  color: #838383;
}

h3 {
  font-size: 1.5em;
  font-weight: bold;
  text-align: left;
  font-family: 'Noto Serif Display', serif;
}

body {
  font-size: 12px;
  font-family: 'Helvetica', arial, sans-serif;
}

.image1 {
  display: block;
  width: 500px;
  height: 500px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.caption1 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#allcontent{
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
}

.image2 {
  display: block;
  width: 500px;
  height: 500px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.caption2 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.image3 {
  display: block;
  width: 500px;
  height: 500px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.caption3 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.image4 {
  display: block;
  width: 500px;
  height: 500px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.caption4 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.graphic {
  display: block;
  width: 500px;
  height: 400px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
